* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #081f31;
    color: white;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    font-weight: 600;
    text-shadow: 4px 4px 4px red;
    border-bottom: 5px solid #00d9ff;
    border-radius: 20px;
    box-shadow: 0 4px 15px red;
}


.choice {
    height: 170px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    14% {
        transform: scale(1.1);
    }

    28% {
        transform: scale(1);
    }

    42% {
        transform: scale(1.1);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}


#logo {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;

}

#logo:hover {
    animation: heartbeat 1.2s ease-in-out;
}



.choices {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

.choice:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 20px;
    gap: 4rem;
    margin-inline: auto;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #081f31;
    color: white;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    box-shadow: inset 0 5px 10px red;
    transition: transform 0.3s ease;
    text-shadow: 0px 2px 3px red;
}

#user,
#comp {
    font-size: 4rem;
}

#msg {
    background-color: #081f31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    text-shadow: 2px 2px 3px red;
    font-weight: bold;
    box-shadow: 0 4px 15px red;
}

.msg-conatiner {
    margin-top: 1.5rem;
}